<%= @politician.name %>

<%= render 'shared/form'%>

<ul>
<% @politician.comments.each do |comm| %>
  <% next unless comm.persisted? %>
  <%# value for comm.id is actually the politician's id %>
  <img src="<%= asset_path( 'up_vote.jpeg' ) %>" value="<%=comm.id%>" alt="up_vote" class="vote" ><img src="<%= asset_path( 'down_vote.jpeg' ) %>" value="<%=comm.id%>" alt="down_vote" class="vote"><li><%= comm.user.username %>:<br><%= comm.content %></li>
  <%= link_to 'Destroy', comment_path(comm), method: :delete %>
<% end %>
</ul>

