

<h1> <%= @politician.full_name %> </h1>
<h3> <%= @politician.party %> </h3>
<img src='<%=@politician.image%>' width="125px">

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var choiceArray = <%=raw @politician.get_chart_data %>
    var data = google.visualization.arrayToDataTable(choiceArray);

    var options = {
      is3D: true,
      backgroundColor: 'none',
      chartArea: { left:20,top:0,width:'75%', height:'95%'},
      fontName: "Helvetica"
  };

    var chart = new google.visualization.PieChart(document.getElementById("piechart"));
    chart.draw(data, options);
}
</script>
<div id="piechart"></div>
<% if session[:user_id] %>
  <div class="form"><%= render 'shared/form'%></div>
<% end %>
<ul>
<% @politician.comments.each_with_index do |comm,index| %>
  <% next unless comm.persisted? %>
  <div class="comments">
  <li>
  	<div class="comment-numbers"><%= index + 1 %>.</div>
	  <div class="vote-col">
	  	<img src="<%= asset_path('up_vote.jpeg') %>" value="<%=comm.id%>" alt="up_vote" class="vote" >
	  	<img src="<%= asset_path('down_vote.jpeg') %>" value="<%=comm.id%>" alt="down_vote" class="vote">
	  </div>
	  <div class="parent-flex">
	  	<div class="child-flex">
		  	<%= comm.user.username %>
		  </div>
		  <div class="votecount child-flex <%=comm.id%>"><%= comm.votes_for.up.count - comm.votes_for.down.count %> points
		  </div>
		  <div class="child-flex">
				<%= ((Time.now - comm.created_at)/3600).round%> hours ago
		  </div>
		</div>
	  <br>
	  <div class="comment-content child-flex">
	  	<%= comm.content %>
		</div>
	</li>
	<div>

  <% if comm.user_id == session[:user_id] %>
    <%= link_to 'Delete Comment', comment_path(comm), method: :delete %>
  <% end %>
<% end %>
</ul>

